body {
  background-image: url("background.jpg");
}

.navbar {
  border-radius: 0;
}

.single-note {
  float: none;
  margin: 30px auto;
  background: rgba(255,255,255,0.9);
}

.note-title {
  color: black;
}